body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.navbar {
  border: 0px;
}
/*targets the entire navbar background*/
.navbar-default {
  background-color: #39474e;
  height: 100px;
  margin: 0px;
  padding: 0px;
}

/*targets the entire left side of the navbar */
.navbar-default .navbar-nav li .left{
  position: relative;
  left: 100px;
}

/*targets the entire right side of the navbar*/
.navbar-default .navbar-nav li .right{
  position: relative;
  right: 100px;
  top: 25px;
}

/* more granular: targets the specific buttons in the left */
.navbar-default .navbar-nav .left {
color: white;
font-size: 1.7rem;
position: relative;
top: 25px;
}

/*targets the iron yard logo in the nav bar*/
.nav li a img {
  height: 70px;
  width: auto;
  position: relative;
  left: 100px;
}

/*nav bar button styling*/
.topbutton {
  width: 40px;
  border-style: none;
  font-size: 1.7rem;
  border-radius: none;
  width: 40px;
  height: 40px;
}

/*hero styling*/
.hero {
  background-image: url(../images/herobackgroundimg.jpg);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  postion: relative;
}

/*text in hero styling and especially positioning*/
.hero p {
  color: white;
  font-size: 6rem;
  font-family: 'PT Serif', bolder, serif;
  padding-top: 200px;
  padding-left: 150px;
}

/*styling newslogos container*/
.newslogos {
  background-color: #eeeeee;
  padding: 0px 15%;
}

.newslogos img {
  height: 100px;
  width: auto;
}

/*styling information container*/
.infosection {
  margin: 5% 7%;
}

.infosection p {
  color: #727d84;
  padding: 10px;
}

.infosection .desc {
  font-size: 1.7rem;
}

/*target bold top text of form*/
.header {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2.5rem;
  color: #727d84;
}

/*target first form*/
.formtop {
  background-color: #ebebeb;
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 150px;
  width: 30%;
}

.formtop .title {
  font-weight: bold;
}

.formbutton{
    background-color: #6fbbb7;
    border-style: outset;
    color: white;
    padding: 12px 82px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}

.greymiddle {
  background-color: #ebebeb;
}

.secondmiddlehead {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2.8rem;
  color: #727d84;
  text-align: center;
  padding: 20px;
  padding-top: 40px;
}

.secondmiddlecontent{
  text-align: center;
  font-size: 1.7rem;
  color: #727d84;
  padding-left:350px;
  padding-right:350px;
}

/*we want to add outline columns and then just add text normally(2 2 2 2 2) */
.courselogos {
  text-align: center;
  padding: 40px;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: serif;
  font-size: 1.8rem;
}

.courselogos img {
  padding-bottom: 30px;
}

.courselogos .front {
  color: #ce832d;
}

.courselogos .back {
  color: #b8584c;
}

.courselogos .mobile {
  color: #d3b42b;
}

.courselogos .interface{
  color: #35a0ad;


}
