/*navbar background*/
.navbar-default {
  background-color: #39474e;
  height: 100px;
}

/*left side buttons*/
.navbar-default .navbar-nav li .left{
  position: relative;
  left: 100px;
}

.navbar-default .navbar-nav .right{
  position: relative;
  right: 100px;
}

.navbar-default .navbar-nav .left {
color: white;
font-size: 1.7rem;
}

.nav li a img {
  height: 70px;
  width: auto;
  position: relative;
  left: 100px;
}
